html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #fff;
	color: #16161d;
  line-height: 1.5em;
}

p {
  margin: 1em 0;
}

a, a:active {
	font-weight: 800;
	text-decoration: none;
}

a:hover {
	color: #e79b3f;
	text-decoration: none;
}

#main-container {
	width: 100%;
}

#main-content {
	position: relative;
	width: 600px;
	margin: 0 auto;
}

#title {
	padding: 40px 0 20px;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}

#printer-container {
	position: relative;
}

#main-button {
  position: absolute;
  padding-right: 140px;
  right: 0;
  font-size: 1.8em;
  color: red;
  text-shadow: -1px -1px 5px #bbb, 1px 1px 5px #fff;
}

#main-button:hover {
  color: purple;
}

#main-button:active {
  color: purple;
}

#printer-instructions {
	position: absolute;
	left: 370px;
	top: 500px;
}

#footer-container {
	position: relative;
}

#donate {
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
}

#footer-text {
	padding-bottom: 12px;
	width:100%;
	text-align: center;
	font-size: 0.8em;
}

#footer-text a {
}

#footer-text a:hover {
	color: #e79b3f;
	text-decoration: none;
}

